@page


@model PrivacyModel
@{
    ViewData["Title"] = "PLANCHER EXPERT";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body id="page-top">
    <!-- Navigation-->
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h2 class="masthead-heading mb-0">Tapis de haute qualite</h2>

                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="scroll">
        <div class="container px-5">
            <br />
            <h1>A Propos :</h1><br />

            <p>
                Bonjour , nous sommes Yassir Bennani et Anas Ajnan des ingénieurs en 4 eme année à  L'école marocaine
                des sciences d'ingénieur.
                En tant que développeurs, nous sommes animés par la curiosité et la volonté constante d'apprendre.
                Notre parcours professionnel nous a permis de maîtriser des diverses technologies, des langages de programmation
                aux frameworks modernes, permettant ainsi de concevoir des applications robustes et efficaces.
            </p>
            <h1>Objectif de l'Application Web :</h1>
            <p>
                L'objectif principal de cette application web est d'offrir une plateforme
                d'apprentissage interactive et stimulante dédiée à l'amélioration des compétences en .NET.
                Que vous soyez débutant ou expérimenté, vous trouverez ici des ressources, des tutoriels
                et des projets pratiques pour renforcer vos connaissances.
            </p>

        </div>
    </section>
</body>
</html>
