@page
@model IndexModel

@{
    ViewData["Title"] = "Acceuil";
    string dateJour = "29/10/22";
}

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body id="page-top">
    <!-- Navigation-->
    
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h2 class="masthead-heading mb-0">Votre premier platmorme</h2>
                <h2 class="masthead-subheading mb-0">de vendre tapis en ligne</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/Media/tapis3.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">NOS AVANTAGES...</h2>
                        <p>Nos tapis sont confectionnés à partir de matériaux de première qualité. Que ce soit la douceur luxueuse de la laine ou la résistance exceptionnelle de nos fibres synthétiques haut de gamme, la qualité de nos matériaux est inégalée sur le marché.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/Media/tapis1.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">POURQUOI PLANCHER EXPERT</h2>
                        <p>
                            Contribuez à un avenir plus vert en choisissant nos tapis écologiques. Fabriqués avec des matériaux durables et des procédés respectueux de l'environnement, nous nous engageons à réduire notre empreinte écologique.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/Media/tapis2.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">DESIGN UNIQUE</h2>
                        <p>
                            Explorez un monde de designs uniques avec nos tapis. Chacun de nos produits est soigneusement conçu pour apporter une esthétique moderne et sophistiquée à n'importe quel espace. Suivez les tendances du marché avec nos motifs distinctifs.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
