@page
@model PrivacyModel
@{
    ViewData["Title"] = "PLANCHER EXPERT";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body id="page-top">
    <!-- Navigation-->
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h2 class="masthead-heading mb-0">BEST PRODUCT</h2>
              
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="scroll">
        <div class="container px-5"><br />
            <h2>PLANCHER EXPERT :</h2><br />

<p>
    Plancher Expert est votre partenaire de confiance pour des solutions de revêtements uniques.
    Nous sommes spécialisés dans la vente de tapis de qualité supérieure pour des espaces élégants
    et accueillants.
    Notre équipe d'experts commerciaux possède une connaissance approfondie du secteur,
    offrant des conseils personnalisés pour répondre aux besoins spécifiques de nos
    clients professionnels.
</p>
</div>
</section>
</body>
</html>